mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-sidenav {
  width: 200px;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}


.app-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 80%;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}


